@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  scrollbar-width: thin;
  scrollbar-color: #e0e0e0 transparent;

  ::-webkit-scrollbar {
    display: "none"
  }

  @media screen and (min-width: 1026px) and (max-width: 1440px) {
    font-size: 90%;
  }

  @media screen and (min-width: 769px) and (max-width: 1025px) {
    font-size: 80%;
  }

  @media screen and (min-width: 541px) and (max-width: 768px) {
    font-size: 70%;
  }

  @media screen and (min-width: 301px) and (max-width: 540px) {
    font-size: 60%;
  }

  @media screen and (max-width: 300px) {
    font-size: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Pretendard', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

image {
  object-fit: contain;
}

.toastify .Toastify__toast {
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  color: #000;

  @media screen and (min-width: 301px) and (max-width: 540px) {
    display: none;
  }
}
